/*!
 * Main File to style the website
 *
 */

@shadow-grey: #172020; 
@green: #4C7E39;
@brown: #8A5928;
@grayLighter: #eee; // defined in bootstrap. We redefine it just to avoid to import
                    // the bootstrap less which are buried in the pinax-bootstrap-theme

#blogtitle {
  color: @green;
  text-align: center;
  background-color: lighten(@green, 50%);
  padding: 30px;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
}
 
.container {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
