/*!
 * Main File to style the website
 *
 */

@shadow-grey: #172020; 
@green: #4C7E39;
@brown: #8A5928;
@grayLighter: #eee; // defined in bootstrap. We redefine it just to avoid to import
                    // the bootstrap less which are buried in the pinax-bootstrap-theme


.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#blogtitle {
  color: white;
  text-align: center;
  background-color: @green;
  padding: 30px;
  .rounded-corners(10px);
}

h1, h2, h3, h4 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
}
 
.container {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.tag a {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: @green;
  .rounded-corners(6px);
  
}

.hr {
  
}

.legal {
  text-align: center;
  color: darken(@grayLighter, 40);
}
