/*!
 * Main File to style the website
 *
 */
#blogtitle {
  color: #4c7e39;
  text-align: center;
  background-color: #d5e9cd;
  padding: 30px;
}
h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
}
.container {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
