{% extends "site_base.html" %}
{% load url from future %}
{% block head_title %}{{super}} About Loquacius {% endblock head_title %}

{% block body %}
	
<h1>Loquacius Blog Engine</h1>
<p>This blog engine can run on Google App Enging and Google Cloud SQL, however given the free 
	trial has been interrupted, the blog engine <strong>is not live anymore</strong> and the 
	database instance has been deleted.</p>
	
<p>You can find more information on this 
<a href="http://blog.michelemattioni.me/2013/05/08/google-cloud-free-trial-coming-to-end/">blog post</a>.
</p>
{% endblock body %}
