{% extends "site_base.html" %}
{% load url from future %}
{% block head_title %}{{super}} About Loquacius {% endblock head_title %}

{% block body %}
	
<h1>So long...</h1>
<p class="lead">This blog engine was built to be run on <a href="https://developers.google.com/appengine/">Google App Engine</a> 
	and <a href="https://developers.google.com/cloud-sql/">Google Cloud SQL</a>, however given the fact that
	 the free trial has been interrupted, this blog engine <strong>is not live anymore</strong> and the 
	database instance on which it was based has been deleted.</p>
	
<p class="lead">You can find more information on this 
<a href="http://blog.michelemattioni.me/2013/05/08/google-cloud-free-trial-coming-to-end/">blog post</a>.
</p>
<p>... and thanks for all the fish.</p>
{% endblock body %}
