{% extends "theme_base.html" %}

{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_base %}
    <div class="container">
    	{% block header %}
    		<header>
    			<h1>Rambling Thoughts</h1>
    		</header>
    	{% endblock header %}
        {% include "_messages.html" %}
        {% block body %}
        <div class="row">	
			<div class="span4">
				{% block sidebar %}
					{% include "_sidebar.html" %}
	        	{% endblock sidebar %}		
			</div>
			        	
	    	<div class="span8">
	        	{% block post %}
	        	{% endblock post%}
	    	</div>
    	</div>
        {% endblock body%}
    </div>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
